# Shared AWS / LocalStack
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
LOCALSTACK_ENDPOINT=http://localstack:4566
LOCALSTACK_HOST=localstack
S3_BUCKET=my-bucket
SNS_TOPIC_NAME=test-sns-topic
SNS_TOPIC_ARN=arn:aws:sns:us-east-1:000000000000:test-sns-topic
SERVICES=sns,s3,lambda
DEBUG=1

# MongoDB
MONGO_URI=mongodb://mongo:27017/nouslatam

# Backend (NestJS API)
HOST=0.0.0.0
PORT=3000
HTTPS=false
API_FRONTEND=http://localhost:5173
S3_ENDPOINT=http://localstack:4566
S3_ENDPOINT_HOST_MY_BUCKET=http://localhost:4566
API_LAMBDA=http://localstack-lambda-app:4000/dev/order/notification

# Frontend (Vite)
VITE_API_URL=http://localhost:3000
VITE_PORT=5173

# Lambda (Serverless)
NODE_ENV=development
